body {
    background-color: azure;
}
label {
    font-size: 12px;
}
#navbar {
    padding: 10px 30px;
    background-color: dodgerblue;
    border-bottom: solid lightgray 1px;
}
.nav-item{
    padding: 5px;
}
#bodydiv {
    margin: 50px;
}
#entryListItem{
    padding: 15px;
    margin: 10px;
    overflow: auto;
    background: whitesmoke;
    border-radius: 20px;
}
.deepColor {
    background-color: royalblue;
}
input {
    margin: 5px;
}