{% extends 'base.html' %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="d-flex flex-row">
            <!-- Title Bar -->
            <div class="flex-grow-1 me-1">
                {% block entry_title %}
                {% endblock %}
            </div>
            <div class="p-2 flex-fill"></div>
            <!-- Date Bar -->
            <div class="ms-auto">
                {% block entry_date %}
                {% endblock %}
            </div>
        </div>
        <!-- Entry Content -->
        {% block entry_content %}
        {% endblock %}
        <!-- Button -->
        {% block entry_button %}
        {% endblock %}
    </form>
{% endblock %}