{% extends 'base.html' %}

{% block title %}
    Diary Entries
{% endblock %}

{% block body %}
    <h1>Entries</h1>
    <form action="" method="GET">
        <div class="d-flex flex-row">
            <!-- Start Of Search Bar -->
            <div class="flex-grow-1 me-1">
                <input type="search" name="entry_title" class="form-control">
            </div>
            <input type="submit" class="btn btn-primary" value="Search">
            <!-- End of Search Bar -->
            <div class="p-2 flex-fill"></div>
            <div class="ms-auto">
                <a href="{% url 'new' %}" class="btn btn-primary">New</a>
            </div>
        </div>
        <!-- End of Add Button -->
    </form>
    {% for entry in entry_list %}
        <div id="entryListItem" class="border w-100">
            <div class="float-start"><h3>{{ entry.entry_title }}</h3></div>
            <div class="float-end"><h5>{{ entry.entry_date }}</h5></div>
            <br><br>
            <div class="w-100 float-none"><p class="description">{{ entry.entry_content|truncatewords:50 }}</p></div>
        </div>
    {% endfor %}

    {% if entry_list.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ entry_list.previous_page_number }}">Previous</a>
    {% endif %}

    <p>Page: {{ entry_list.number }} of {{ entry_list.paginator.num_pages }}</p>

    {% if entry_list.has_next %}
        <a href="?page={{ entry_list.next_page_number }}">Next</a>
        <a href="?page={{ entry_list.paginator.num_pages }}">Last</a>
    {% endif %}
{% endblock %}